[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = Israa Mazaraa
	email = 45329110+Israa-Mousa@users.noreply.github.com
